.mainPage {
  &Container {
    padding: 1rem 2rem;

    @media (min-width: $layout-md) {
      max-width: 75rem;
    }
  }

  &Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @media (min-width: $layout-sm) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &Title {
    font-size: $text-sm;
    font-weight: $font-semibold;
    color: $color-neutral-500;

    @media (min-width: $layout-sm) {
      font-size: $text-base;
    }
  }

  &Wrapper {
    @media (min-width: $layout-lg) {
      display: grid;
      gap: 2rem;
      grid-template-columns: 20rem 1fr;
    }
  }
}
