.mainPage {
  &Container {
    @media (min-width: $layout-desktop) {
      max-width: 75rem;
    }
  }

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &Title {
    font-size: $text-base;
    font-weight: $font-semibold;
    color: $color-neutral-500;
  }
}
