.input {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: $color-neutral-700;
  color: $color-neutral-200;
  font-size: $text-sm;
  font-weight: $font-semibold;
  border-radius: $rounded-xl;
  border: none;

  &::placeholder {
    color: $color-neutral-500;
  }
}
