.search {
  width: 100%;
  max-width: 12rem;

  &Input {
    padding-left: 2.75rem;
    background-image: url('@images/search.svg');
    background-repeat: no-repeat;
    background-position: top 50% left 0.75rem;
  }
}
