.mainLayout {
  padding: 1.75rem 2rem;
  background-color: $color-neutral-800;

  @media (min-width: $desktop) {
    width: calc(100% - 3rem);
    max-width: 75rem;
    margin-inline: auto;
    transform: translateY(-3rem);
    border: $border;
    border-radius: $rounded-2xl;
    box-shadow: $shadow;
  }
}
