body {
  background-color: $color-neutral-900;
  color: $color-neutral-200;
  font-weight: $font-medium;
  font-size: $text-base;
  font-family: $family;
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
