$font-path: '@/assets/fonts/';

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}BeVietnamPro-Medium.woff2') format('woff2'),
    url('#{$font-path}BeVietnamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}BeVietnamPro-SemiBold.woff2') format('woff2'),
    url('#{$font-path}BeVietnamPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('#{$font-path}BeVietnamPro-Bold.woff2') format('woff2'),
    url('#{$font-path}BeVietnamPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
