// Colors
$color-neutral-200: hsl(217, 10%, 84%);
$color-neutral-500: hsl(221, 8%, 46%);
$color-neutral-700: hsl(217, 9%, 17%);
$color-neutral-800: hsl(210, 7%, 11%);
$color-neutral-900: hsl(200, 6%, 9%);
$color-blue: hsl(221, 82%, 62%);

//Border radius
$rounded: 0.25rem;
$rounded-xl: 0.75rem;
$rounded-2xl: 1rem;

//Typography
$family: 'Be Vietnam Pro', sans-serif;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-2xl: 2rem;

//Breakpoints
$desktop: 1024px;

//Other
$shadow: 0 0 2rem $color-neutral-900;
$border: 1px solid $color-neutral-700;
$border-2: 2px solid $color-neutral-700;
